body {
    font-family: 'Arvo', Geneva, serif;
    background-color: #23ffe2;
    background-image: url(../images/leaf_yellow.png);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: #32e1f8;
    background-image: url(../images/leaf_lightblue.png);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main #main_background {
    opacity: 70%;
}

nav li {
    background-color: #f7ec9e;
    width: 100%;
    border-top: 3px solid #b37545b9;
    display: flex;
    flex-direction: column;    
    min-height: 44px;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
}

nav {
    box-sizing: border-box;
}

#menu {
    border-bottom: 3px solid #38a39e;
    display: grid;
    /* flex-direction: column; */
    text-transform: uppercase;
}

.main_menu li {
    display: flex;
}

.main_menu a:hover, .main_menu li:hover {
    color: white;
    animation: nav_animation 0.75s; 
    font-size: 26px;
}

.islands_menu li{
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  min-height: 18px;
  background-color: #35ecc5;
  border: 3px solid #2f8f8a;
  border-bottom: none;
  padding: 5px 0px 5px 0px;
}

.islands_menu li:hover {
    background-color: #15bac0;
}

.islands_menu li a {
    font-size: 18px;
}

.islands_menu li a:hover, .islands_menu li:hover {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav li:hover {
    background-color: #0cb4b4;
    border: 3px #c1fcf7 dashed;
}


@keyframes nav_animation {
    from {
      height: 28px;
      letter-spacing: 0px
    }
    to {
      height: 24px;
      letter-spacing: 2px
    }
}

nav li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #834c22;
}


h1 {
    display: block;
    font-size: 56px;
    font-weight: bold;
    color: #834c22;
    text-align: center;
    font-weight:bolder;
    width: 100%;
}

header h1 a, header h1 a:visited, header h2 a, header h2 a:visited {
    color: #834c22;
    text-decoration: none;
}

header h1 a:hover {
    animation: title_animation 1.25s; 
}

@keyframes title_animation {
    from {
        font-size: 56px;
        letter-spacing: 0px
    }
    to {
        font-size: inherit;
        letter-spacing: 1.25px
    }
}

h2 {
    font-size: 175%;
    margin: 0px 30px;
    font-weight: bold;
    color: #834c22;
    text-align: center;
}

header h2 {
    padding-bottom: 10px;
}

h3 {
    /* display: block; */
    font-size: 24px;
    color: #834c22;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

h3 a {
    text-decoration: none;
    font-weight: bold;
    color: #834c22;
}

p {
    color: #834c22;
    font-size: 18px;
}

img {
    border: solid #834c22 4px;
    border-radius: 10px;
    width: 350px;
    /* transition: .5s ease; */
}

/* img:nth-child(even) {
    border: solid #38a39e 4px;
} */

footer {
    background-color: #834c22;
    /* background-image: url(../images/leaf_lightblue.png); */
    font-weight: bold;
    padding: 10%;
}

footer p {
    color: white;
    font-size: 16px;
    text-align: center;
}

.skip, .back {
    text-decoration: none;
    font-weight: bold;
    border: 2px #38a39e dashed;
    padding: 10px;
    margin-left: -500px;
    color: #834c22;
    border-radius: 10px;
}

.skip:hover, .skip:focus, .back:hover{
    text-decoration: none;
    font-weight: bold;
    border: 4px #35ecc5 dashed;
    padding: 10px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #38a39e;
    border-radius: 10px;
    box-shadow: 5px 5px #38a39e;
}

.back, .back:hover{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 200px;
    text-align: center;
}
    
img:hover{
    box-shadow:
    0.75px 1px #f7cb3a,
    1.5px 2px #f7cb3a,
    2.25px 3px #f7cb3a,
    3px 4px #f7cb3a,
    3.75px 5px #f7cb3a,
    4.25px 6px #f7cb3a;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

/* img:nth-child(even):hover{
    box-shadow:
    0.75px 1px #1fdae7,
    1.5px 2px #1fdae7,
    2.25px 3px #1fdae7,
    3px 4px #1fdae7,
    3.75px 5px #1fdae7,
    4.25px 6px #1fdae7;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
} */

.yellow {
    background-color: #f7ec9e;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing:border-box;
    border-top: dashed 4px #9c6032d3;
    border-bottom: dashed 4px #9c6032d3;
    /* border-bottom: 3px dashed #5acfa8; */
}

.yellow p, .green p {
    text-align: left;
    padding: 20px;
    line-height: 1.25;
}

#pagetitle {
    display: block;
    border-bottom: 5px dashed #38a39e;
    border-top:none; 
    padding: 20px 0px 20px 0px;
    font-size: 1.5em;
    text-transform: uppercase;
    background-image:url(../images/leaf_yellow.png);
}

.pics_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* background-color: #cefff733; */
    flex-basis: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pics_flex img {
    margin: 10px 0px 10px 0px;
}

/* Islands page */

.islands_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-between;
    margin: 5%;
}

.island_box {
    background-color: #35ecc5;
    border-radius: 10px;
    min-height: 375px;
    min-width: 50%;
    border: solid 4px #38a39e;
    overflow:scroll;
    flex-basis: 300px;
}

.island_box:hover {
    border: dashed 4px #38a39e;
    background-image: url(../images/leaf_yellow.png);
    animation: island_hover 0.8s; 
    transition: 0.5s;
}

.island_box h3 {
    text-align: center;
    margin-top: 5%;
}

.island_box h3:hover {
    text-decoration: underline dashed;
    text-decoration-thickness: 4px;
}

.island_box h3 a:hover {
    color: #2d8682;
}

@keyframes island_hover {
    from {
        position:relative
    }
    to {
        transform: rotate(-1.5deg)
    }
}

.island_box p {
    margin: 5%;
    text-align: center;
    line-height: 1.5;
}

.greenborder {
    border: solid #1fdae7 4px;
    border-radius: 10px;
}

.greenborder:hover {
    box-shadow:
    0.75px 1px #38a39e,
    1.5px 2px #38a39e,
    2.25px 3px #38a39e,
    3px 4px #38a39e,
    3.75px 5px #38a39e,
    4.25px 6px #38a39e;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.green {
    background-color: #35ecc5;
    background-image: url(../images/leaf_green.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing:border-box;
    border-top: none;
}

.gridcontainer .green {
    border: dashed 3px #7c4114de;
    border-radius: 10px;
    background-attachment:initial;
    background-repeat: repeat;
    background-size: auto;
}

.gridcontainer .green p {
    color: #863e06;
    font-weight: bold;
}

.gridcontainer .green > img {
    max-height:auto;
}

/* .green {
    border-top: dashed 4px #9c6032d3;
} */

#shrines p{
    border-radius: 10px;
    border: dashed 3px #9c6032d3;
    background-color: #f7ec9e;
    margin: 20px;
    padding: 15px;
}

/* Contact form */

#contact {
    padding: 20px;
    text-align: left;
}

label {
    font-size: 20px;
    color: #834c22;
}

input {
    width: 200px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    padding: 4px;
    height: 40px;
    font-family: Arvo, Geneva, sans-serif;
}

input[type="submit"] {
    background-color: #f7ec9e;
}

input[type="submit"]:hover{
    border-radius: 10px;
    font-size: 1em;
    text-decoration: underline dotted 3px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

textarea {
    resize: none;
    width: 300px;
    height: 150px;
    padding: 4px;
    font-family: Arvo, Geneva, sans-serif;
    margin: 10px 0px 10px 0px;
    color: #834c22;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    row-gap: 10px;
    column-gap: 10px;
    width: auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

/* Current tab */

.current_tab > a {
    color: white;
    text-decoration: underline dotted 3px;
    text-decoration-color: inherit;
}

.islands_menu .current_tab, .main_menu .current_tab {
    background-color: #38a39e;
}

.main_menu .current_tab {
    border: #218580 solid 3px;
    border-bottom: none;
}

.current_tab > a:hover {
    text-decoration: none;
}

/* "G" tilt */
/* span .tilt {
    position: relative;
    float: right;
    -webkit-transform: rotate(1.5deg);
} */

/* Reduced motion */

@media (prefers-reduced-motion: reduce) {

    body, main, .green {
        background-attachment:initial;
        background-repeat: repeat;
        background-size: auto;
    }

    .main_menu a:hover, .main_menu li:hover {
        animation: none;
        height: 24px;
        letter-spacing: 2px
    }

    header h1 a:hover {
        animation: none;
        font-size: 58px;
        letter-spacing: 1.25px;
    }

    .island_box h3:hover {
        animation: none;
        height: 40px;
    }

    .island_box:hover {
        animation: none;
    }

    img:hover, img:nth-child(even):hover {
        transition: none;
    }
}

/* Medium screen view */

@media only screen and (min-width: 750px) {
    
    /* Menu */
    #menu ul {
        display:grid;
    }

    .main_menu {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1;
        justify-items:left;
    }
    
    .main_menu li {
        border: 3px solid #b37545ea;
        border-bottom: 0px;
        border-radius: 20px 20px 0px 0px;
    }

    .main_menu li:hover {
        border: 3px #c1fcf7 dashed;
    }

    /* Flex images */

    .pics_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    /* Grid container */

    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gridcontainer .yellow {
        border-radius: 10px;
        /* border: none; */
        width: 350px;
        border-left: dashed 3px #9c6032d3;
        border-right: dashed 3px #9c6032d3;
    }

    .gridcontainer .green {
        grid-column: 2;
        grid-row: 1 / span 3;
        justify-self: strech;
    }

    .gridcontainer .yellow p {
        text-align: justify;
    }

    /* Islands page container */
    .islands_container {
        display: grid;
        grid-template-columns: 1fr 1fr;        
        justify-items: center;
        /* padding: 20px; */
        column-gap: 10px;
        row-gap: 10px;
    }

    .island_box {
        height: 450px;
        min-width: 300px;
    }

    footer {
        padding: 20px 0px;
    }

}

/* Fullscreen view */
@media only screen and (min-width: 900px) {
    /* Title */

    h1 {
        font-size: 76px;
    }

    #title {
        margin-bottom: 20px;
    }

    /* Menu */

    .islands_menu ul {
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        /* height: 70px; */
}

    .islands_menu li a {
        text-align: left; 
        padding-left: 30px;
        font-size: 1.33em;
    }

    .islands_menu li {
        grid-row: 1;
        border-radius: 10px 10px 0px 0px;
    }

    .main_menu {
        justify-items: left;
    }

    .main_menu li {
        width: 75%;
    }

    .pics_flex {
        flex-direction: row wrap;
        flex-wrap: wrap;
    }

    .pics_flex img {
        width: 600px;
    }

    /* .gridcontainer {
        
    } */

    /* Islands page container */

    .islands_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        justify-content:space-around;

        /* grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; */
    }

    .island_box {
        /* flex-flow: row wrap; */
        max-width: 300px;
    }
}